body{
  background-color: #282828;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.drop-down-section{
  background-image: url('../img/bgc-1.png');
  width: 674px;
  height: 350px;
  display: flex;
  padding-top: 70px;
  padding-right: 132px;
  padding-left: 132px;
}

.drop-down-section .drop-down-section-form{
  /* width: 50%; */
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.drop-down-section-form + .drop-down-section-form{
  margin-left: 60px;
}

.drop-down-section .drop-down-section-form .form-group{
  position: relative;
}

.drop-down-section .drop-down-section-form .form-group span,.drop-down-section .drop-down-section-form .form-group input{
  color: #666666;
  font-size: 12px; 
}

.drop-down-section .drop-down-section-form form .form-group input{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,.4) 100%);
  width: 170px;
}

.drop-down-section .drop-down-section-form form .form-group .btn{
  background-color: transparent;
  position: absolute;
  font-size: 12px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #666666;
}

.drop-down-section .drop-down-section-form .dropdown-hover{
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: start;
  width: 165px;
  display: none;
  background-image: url('../img/border-png.png');
  background-size: 100% 100%;
  padding: 20px 9px;
}


.drop-down-section .drop-down-section-form:hover .dropdown-hover{
  display: flex;
} 

.drop-down-section .drop-down-section-form:focus-within .dropdown-hover{
  display: flex;
} 

.dropdown-hover .dropdown-item-a{
  width: 100%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #737373;
  padding: 10px 12px;
  border-bottom: 1px solid #000;
  border-top: 1px solid rgba(255, 255, 255, .1)
}


.dropdown-hover .dropdown-item-a:first-child{
  border-top: none;
}

.dropdown-hover .dropdown-item-a:last-child{
  border-bottom: none;
}
.dropdown-hover .dropdown-item-a:hover{
  color: #eeec31;
  background-color: rgba(255, 255, 255, .2);
}

.dropdown-hover .dropdown-item-a i{
  font-size: 12px;
  color: #666666;
  margin-right: 8px;
}

.dropdown-hover .dropdown-item-a .number{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #b2b2b2;
  margin-right: 5px;
}


.form-control{
  border: 1px solid #000;
}

.form-control:focus{
  box-shadow: none;
  border-color: #eeec31;
}

.form-control:hover{
  border-color: #eeec31;  
}




